<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>FOFE-NER Demo</title>
    <link rel="stylesheet" type="text/css" href="static/css/style-vis.css">
    <script type="text/javascript" src="static/js/head.js"></script>
	<script type="text/javascript" src="static/js/brat_loader.js"></script>
	<script type="text/javascript" src="static/js/ner-core.js"></script>
</head>

<body>

<div>Please type some sentence(s):</div>

<textarea id='user-input' rows='16' cols='80'>
Hopelessness is on the other side of my finishing line.
</textarea>

<button id='submit' type='button'>Submit</button>

<div id='analysis'></div>

</body>
</html>